body {
  background-image: url(https://github.com/anjali-patelnz/Anjali-Weather-App-Project/blob/main/images/Goldglitter.jpg?raw=true);
  background-size: cover;
}
.weather-app {
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

h1 {
  text-align: center;
  font-family: "Berkshire Swash", cursive;
  font-size: 60px;
}

form {
  margin: 0 auto;
  max-width: 500px;
}
.date {
  text-align: center;
}

.weatherIcon img {
  display: block;
  margin-left: 100px;
}

#mainTemp {
  font-size: 60px;
}

.units {
  position: relative;
  top: -30px;
}

.factors {
  text-align: center;
}

.daily,
.hourly,
.card-body {
  text-align: center;
  background-color: #d9afd9;
}

.footer {
  text-align: center;
}
